@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300;1,400;1,500&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.img-header {
  width: 100%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  padding: 2rem 0 .2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 10px 4rem 10px;
}

.p__como-funciona {
  margin-bottom: 3rem;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}

.p__como-funciona h3 {
  font-size: 1.125rem;
}

.category-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 600;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  margin: auto;
}

form input[type=text] {
  height: 2rem;
}

form button {
  height: 3rem;
}

.item {
  margin-bottom: 3rem;
}

.item h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}

.item .item__description {
  font-style: italic;
}

.item .selector__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item .selector__container .selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.item .selector__container .selector .selector__name {
  font-style: italic;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}

.item .selector__container .selector .selector__contador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .selector__container .selector .selector__contador input {
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  border: 1px solid #A61D0D;
}

.item .selector__container .selector .selector__contador .selector__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: .4rem;
}

.item .selector__container .selector .selector__contador .selector__btns button {
  height: calc(50% - .2rem);
  width: 2rem;
  color: #ffffff;
  background: #A61D0D;
  border: none;
  border-radius: 5px;
}

.precio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: .5rem;
}

.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ticket p {
  margin: 0.5rem 0;
}

@media (min-width: 1000px) {
  form {
    width: 10rem;
  }
}
/*# sourceMappingURL=style.css.map */