body {
  font-family: 'Poppins', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
}

input[type=text] {
  height: 2rem;
}

button {
  height: 3rem;
}

#monto-total {
  width: 3rem;
}

.ticket {
  display: flex;
}

@media (min-width:1000px) {
  form {
    width: 10rem;
  }
}